html {
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
}

.banner {
  background-color: #2b3851;
  min-height: 240px;
  position: relative;
  display: block;
  width: 100%;
}

.robot {
  width: 320px;
  min-height: 240px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}

.robot-body {
  width: 46px;
  bottom: 0;
  z-index: 20;
  position: absolute;
}

.robot-brain {
  width: 46px;
  position: absolute;
  z-index: 20;
  top: 22%;
  left: 42%;

}

.robot-head-right,
.robot-head-left {
  width: 125px;
  position: absolute;
  z-index: 30;
  top: 15px;
}

.robot-head-right {
  right: 11%;
}

.robot-head-left {
  left: 11%;
}

.robot:hover > .robot-head-right {
  left: 300px;
  top: -7px;
}

.robot:hover > .robot-head-left {
  left: 300px;
  top: -7px;
}

.robot:hover > .robot-brain {
  left: 300px;
  top: -7px;
}
